h1 {
	color: white;
	text-align: center;
}


/* Nav */

.sticky {
	position: fixed;
}
.nav-links {
	display: flex;
	list-style: none;
	font-size: 35px;
	margin: 0;
	background-color: black;
}

li {
	padding: 20px;
	
}


a {
	color: Blue;
	text-decoration: none;
}

a:hover {
	
	color: orange;
}
p {
	color: white;
}

body {
	background-image: url(../images/background2-edit.png);
	background-color: #000000;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: ;
	
	margin: auto 0;
	
}

span {
	color: Red;
}
.first-paragraph {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	font-family: 'Inconsolata', monospace;
	height: 50vh;
	
}
.release-date {
	text-align: center;
	font-size: 38px;
	font-family: 'Inconsolata', monospace;
}

.button {

  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.button-section {
	
}
.main {
	
}